<!--
<?php
  session_start();
  if (!$_SESSION['id']){
	  //user not loged in, redirect to login page and provide and error.
	  $error = "You are not logged in.";
	  header("Location:index.php/?uie=1");
  }
?> 
-->

<!DOCTYPE html >
<html lang="en" ng-app="bwprojects" >
<head >
	<title >Lists Of Projects</title >

	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Lists Of Projects
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="ProjectsController" >

	<div class="row" >
		<div class="col-md-12" >
			<form class="form-inline well well-sm" >
				<span class="glyphicon glyphicon-search" ></span >

				<div class="form-group" >
						<input type="text"
						       class="form-control"
						       id="name"
						       ng-model="search"
						       placeholder="Search name..."
								/>
				</div >

				<span class="glyphicon glyphicon-sort-by-attributes" ></span >

				<div class="form-group" >
					<select class="form-control"
									ng-model="order">
						<option value="name" >Name (ASC)</option >
						<option value="-name" >Name (DEC)</option >
						<option value="number" >Number (ASC)</option >
						<option value="-number" >Number (DEC)</option >
					</select >
				</div >

			</form >
		</div >
	</div >


	<div class="row" >
		<div class="col-md-8" >

			<table class="table table-bordered" >

				<tr >
					<th >ID</th >
					<th >Number
						<span ng-click="order = 'number'" class="glyphicon glyphicon-menu-up"></span>
						<span ng-click="order = '-number'" class="glyphicon glyphicon-menu-down"></span>
					</th >
					<th >Name
						<span ng-click="order = 'name'" class="glyphicon glyphicon-menu-up"></span>
						<span ng-click="order = '-name'" class="glyphicon glyphicon-menu-down"></span>
					</th >
					<th >Status</th >
				</tr >

				<tr ng-repeat="project in filteredProjects = (projects | filter:sensitiveSearch | orderBy:order)"
				    ng-style="{
							 'background-color': $index == selectedIndex ? 'lightgray' : ''
						}"
				    ng-click="selectProject(project, $index)" >
					<td >{{ $index }}</td >
					<td >{{ project.number }}</td >
					<td >{{ project.name }}</td >
					<td >{{ project.status }}</td >
				</tr >
				<tr ng-show="filteredProjects.length == 0">
					<td colspan="4">
						<div class="alert alert-info">
							<p class="text-center">No results found for search term '{{ search }}'</p>
						</div>
					</td>
				</tr>


			</table >

		</div >
		<div class="col-md-4" >

			<div class="panel panel-default" >
				<div class="panel-heading" >Details</div >
				<div class="panel-body" >

					<dl >
						<dt >Number</dt >
						<dd >{{selectedProject.number}}</dd >
						<dt >Name</dt >
						<dd >{{selectedProject.name}}</dd >
						<dt >Status</dt >
						<dd >{{selectedProject.status}}</dd >
						<dt >Client</dt >
						<dd >{{selectedProject.client}}</dd >
						<dt >Owner</dt >
						<dd >{{selectedProject.owner}}</dd >
					</dl >
				</div >
			</div >

		</div >
	</div >


</div >

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="main.js" ></script >
</body >
</html >
