<form>
<!-- Text input-->
<div class="form-group">
  <label for="client">Client</label>  
  <input type="text" 
  		 class="form-control" 
  		 id="client" 
  		 placeholder="Enter client name...">
 </div>

<!-- Text input-->
<div class="form-group">
  <label for="number">Number</label>  
  <input type="text" 
  		 class="form-control" 
  		 id="number" 
  		 placeholder="Enter project number...">
 </div>

<!-- Text input-->
<div class="form-group">
  <label for="name">Name</label>  
  <input type="text" 
  		 class="form-control" 
  		 id="name" 
  		 placeholder="Enter project name...">
 </div>

<!-- Text input-->
<div class="form-group">
  <label for="name">Notes</label>  
  <input type="text" 
  		 class="form-control" 
  		 id="notes" 
  		 placeholder="Enter notes...">
 </div>
 
 <!-- Text input-->
<div class="form-group">
  <label for="name">Status</label>  
  <input type="text" 
  		 class="form-control" 
  		 id="status" 
  		 placeholder="Enter project status...">
 </div>



</form>